/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333; /* Couleur du texte */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
}

header h1 {
    padding: 10px;
    margin: 0;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase; /* Mettre le texte en majuscules */
    font-style: italic; /* Mettre le texte en italique */
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    background: #f4f4f4;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: -1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive */
@media(max-width:400px) {
    header h1 {
        font-size: 20px;
    }

    nav ul li {
        margin-left: 10px;
    }

    section {
        padding: 10px;
        margin: 10px 0;
    }
}

/* Form styles */
form {
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #555;
}
footer {
    font-family: Herculanum, sans-serif;
}
